<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('profile') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('profile_update') }}">My Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('password_chg') }}">Change Password</a>
            </li>


        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Welcome !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row" >
					<div class="col-md-12">
                        <center>
                                <p>
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        <ul class=exist>
                                        {% for message in messages %}
                                            <li><b style="color:#185cc3;">{{ message }}</b></li>
                                        {% endfor %}
                                        </ul>
                                      {% endif %}
                                    {% endwith %}
                                </p>
                            </center>
						<h2 class="page-title" style="margin-top:10%">Welcome {{ name }}  <span style="text-align: center;margin-left: 300px;">Total Registered Users : {{ users }}</span></h2>
                        <hr>
                        <div class="container">
                            <form method="post" action="/acc_status">
                                <table class="table">
                                    <thead>
                                        <tr >
                                            <th > Registered Users</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><b>Wallet ID</b></td>
                                        <td><b>Name</b></td>
                                        <td><b>Reg Date</b> </td>
                                        <td><b>Status</b> </td>
                                        <td colspan="2" style="text-align:center;"><b>Action</b> </td>


                                    </tr>
                                    {% for Account in Accounts %}
                                    <tr>
                                        <td>{{ Account[0] }}</td>
                                        <td>{{ Account[1] }}</td>
                                        <td>{{Account[7] }}</td>
                                        <td>{{ Account[10] }}</td>
                                        <td><input class="btn" style="background-color:#343a40;color: white;" name="{{Account[0]}}" type="submit" value="Activate"> </td>
                                        <td><input class="btn" style="background-color:#343a40;color: white;" name="{{Account[0]}}" type="submit" value="Close"> </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </form>
						</div>
                    </div>

					</div>
				</div>



</body>
</html>