<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Sign up</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                 <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Wallet Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </div>
</nav>
<center>

    <div class="col-lg-8 col-lg-offset-4">
        <div class="input-group">
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul >
                {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        <form method="post" action="/signup1" name="registration" class="form-horizontal" >

        <div class="form-group">
        <label class="col-sm-2 control-label">First Name : </label>
        <div class="col-sm-4">
        <input type="text" name="fname" id="fname"  class="form-control" required="required" >
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-2 control-label">Last Name : </label>
        <div class="col-sm-4">
        <input type="text" name="lname" id="lname"  class="form-control" required="required">
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-2 control-label">Gender : </label>
        <div class="col-sm-4">
        <select name="gender" class="form-control" required="required">
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
        </select>
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-2 control-label">Contact No : </label>
        <div class="col-sm-4">
        <input type="text" name="contact" id="contact"  class="form-control" required="required">
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-2 control-label">Email id: </label>
        <div class="col-sm-4">
        <input type="email" name="email" id="email"  class="form-control" onBlur="checkAvailability()" required="required">
        <span id="user-availability-status" style="font-size:12px;"></span>
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-2 control-label">Password: </label>
        <div class="col-sm-4">
        <input type="password" name="password" id="password"  class="form-control" required="required">
        </div>
        </div>

        <div class="col-sm-6 ">
        <button class="btn btn-default" type="submit">Cancel</button>
        <input style="background-color:#343a40;color: white;" type="submit" name="submit" Value="Register" class="btn">
        </div>
        <br><br><br>
        <div class="col-sm-6 ">
        Have Account? <a style="color: black;" href="{{ url_for('login') }}">Login Here</a>
        </div>
        </form>
        </div>
    </div>


</center>
</body>
</html>