<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('profile') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('profile_update') }}">My Profile</a>
            </li>


        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Welcome !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row" >
					<div class="col-md-12">
                        <center>
                                <p>
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        <ul class=exist>
                                        {% for message in messages %}
                                            <li><b style="color:#185cc3;">{{ message }}</b></li>
                                        {% endfor %}
                                        </ul>
                                      {% endif %}
                                    {% endwith %}
                                </p>
                            </center>
						<h2 class="page-title" style="margin-top:10%">Welcome {{ list[1] }}  <span style="text-align: center;margin-left: 300px;">Your Wallet No : {{ Acc }}</span></h2>
                        <hr>
                        <div class="container">
                            <table class="table">
                                <thead>
                                    <tr >
                                        <th scope="col" > Your Balance : {{ list[8] }}</th>
                                        <th>Click Here to <a style="color: black;" href ="{{ url_for('add_amount') }}"><b>Add Amount</b> </a></th>
                                        <th>Click Here to <a style="color: black;" href ="{{ url_for('tr_amount') }}"><b>Transfer Amount</b> </a></th>


                                    </tr>

                                </thead>
                            </table>

                            <div class="d-flex flex-row d-flex justify-content-around ">
                              <div class="p-2">Total Transfer Amount

                                <p style="text-align:center;margin-top: 20px;"> <b>{{ Total[0] }}</b> Rs</p>
                              </div>

                              <div class="p-2">This month
                              <p style="text-align:center;margin-top: 20px;"> <b>{{ month_total[0] }}</b> Rs</p>
                              </div>

                              <div class="p-2">Today
                              <p style="text-align:center;margin-top: 20px;"> <b>{{ date_total[0] }}</b> Rs</p>
                              </div>
                            </div>



                            <br><br>
                            <table class="table">
                                <thead>
                                    <tr >
                                        <th> Last 5 Transactions</th>
                                        <th >Look Here for <a style="color: black;" href ="{{ url_for('transaction_list') }}"><b>All Transactions</b> </a></th>

                                    </tr>

                                </thead>
                                <tbody>
                                <tr style="background-color:#3cab87;">
                                    <td><b>Date</b></td>
                                    <td><b>From</b></td>
                                    <td> <b>To</b> </td>
                                    <td><b>Amount</b> </td>
                                    <td><b>Type</b> </td>

                                </tr>
                                {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction[3] }}</td>
                                    <td>{{ transaction[1] }}</td>
                                    <td>{{transaction[2] }}</td>
                                    <td>{{ transaction[4] }}</td>
                                    <td>Wallet Transfer</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
						</div>
                    </div>

					</div>
				</div>



</body>
</html>